@font-face {
    font-family: 'j._airplane_swashregular';
    src: url('j-airplane-swash-font-webfont.woff2') format('woff2'),
         url('j-airplane-swash-font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;